* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  color: #fff;
  font-size: 16px;
  background: #071526;
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
  font-weight: 300;
}

.pc-475,
.pc-768,
.pc-1024 {
  display: block;
}

.sp-475,
.sp-768,
.sp-1024 {
  display: none;
}

* ::-webkit-scrollbar {
  width: 4px;
}

* ::-webkit-scrollbar-thumb {
  background: #F8F8F8;
  border-radius: 4px;
}

* ::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .pc-768 {
    display: none;
  }

  .sp-768 {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .pc-1024 {
    display: none;
  }

  .sp-1024 {
    display: block;
  }
}

@media screen and (max-width: 475px) {
  .pc-475 {
    display: none;
  }

  .sp-475 {
    display: block;
  }
}